h1{
    font-size: 250%;
    font-style: inherit;
    font-weight: 400;
}

h2{
    font-size: 100%;
    font-style: inherit;
    font-weight: 200;
}

.footer {
    padding-bottom: 15px;
}

.navbar-default {
    color: #152ba9;
    background-color: #e7e6f8;
    border-color: #aab0e7;
}

.navbar-default .navbar-brand {
    color: #1919a9;
}

